@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Viga&display=swap');

:root {
    --main: #8D51C8;
    --secondary: #B8DB7A;
    --tertiary: #4C7CC3;
    --main-bg: #6C5577;
    --secondary-bg: #9C90B4;
    --text: #E1E8ED;
    --text2: #57636C;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--secondary-bg);
}


.main {
    padding: 10px;
}

.navbar {
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

img {
    height: 100px;
}

.usercard {
    padding: 5px;
    height: 100px;
    width: 200px;
    background-color: var(--main);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

    .usercard img {
        margin-top: 5px;
        margin-right: 10px;
        height: 40px;
    }

.card-content {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-weight: 800;
    color: var(--text);
}

.search-bar {
    margin-top: 20px;
    padding: 20px;
    width: 90%;
}

input[type=text] {
    border-radius: 10px;    
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.banner {
    margin-top: 20px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .banner img {
        height: 100%;
    }

h1 {
    color: var(--text);
}

.content {
    display: flex;
    flex-direction: row;
}

.sales-card {
    width: 20%;
    min-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    border: var(--secondary) 2px solid;
}

    .sales-card img {
        width: 100px;
        align-self: center;
    }

button {
    background-color: var(--secondary);
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    align-self: center;
    color: white;
}

.atc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}


.arrow-right,
.arrow-left,
.long-arrow-right,
.long-arrow-left {
    display: block;
    margin: 25px auto;
    width: 25px;
    height: 25px;
    border-top: 5px solid #fff;
    border-left: 5px solid #fff;
    margin-left: 50px;
}

.arrow-right,
.long-arrow-right {
    transform: rotate(135deg);
}

.arrow-left,
.long-arrow-left {
    transform: rotate(-45deg);
}

    .long-arrow-right::after,
    .long-arrow-left::after {
        content: "";
        display: block;
        width: 5px;
        height: 45px;
        background-color: white;
        transform: rotate(-45deg) translate(15px, 4px);
        left: 0;
        top: 0;
    }

.arrowBar {
    text-align: left;
}

table {
    margin: 0 auto;
    border-spacing: 60px;
}

td {
    width: 33.33%;
    margin: 20px;
}

.header {
    color: white;
}

.header-center {
    text-align: center;
}

.search-bar {
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    width: 90%;
}

.card {
    border-radius: 12px;
    border: 5px solid #B8DB7A;
    background-color: white;
    text-align: center;
    padding: 20px;
}

.card2 {
    border: 5px solid #4C7CC3;
}

    .card img, .card2 img {
        height: 350px;
        width: 300px;
    }

    .card p, .card2 p {
        font-size: 1.5rem;
        color: #57636C;
    }
